<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>  
  <body>
    <form name="input" action="/pwn" method="post">
      <div class="form-header">
        <img src="{{ url_for('static', filename='logo-final.png') }}">
        <h1>Let's get you to the front of that line!</h1>
      </div>
      
      <input type="text" autofocus="true" 
          placeholder="Your email address" 
          class="form-field" 
          name="email" 
          value="">

      <input type="text" placeholder="Your referral code" class="form-field" name="refer" value="">
      
      <input type="hidden" name="position" value="12000">
      
      <input type="submit" name="submit" class="btn" value="Go!">
    </form>
  </body>
</html>
